#btn1{
    
  background-color: #000; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
    transition: 0.5s;
    margin-top: 70px;
 
}

#btn1:hover{
background-color: lightslategrey;
 color: black;
}

html{
    font-family: cairo;
 
}
body{
       padding: 0;
    margin: 0
}
p{
    color: lightslategrey
}



i {
  display: inline;
  animation: spin 9s linear infinite;
}



@keyframes spin { 
  100% { 
    transform: rotate(360deg);
  }
}

@keyframes spin2 { 
  100% { 
    transform: rotatey(360deg);
  }
}
a{
    text-decoration: none;
    color: black;
}
.footer{
  text-align: center
}
h6{
    text-align: center;
    position: fixed;
  left:0;
  bottom:40px;
    right: 0;font-size: 12px;
    color: slategray
}
p{
    margin-top: 40px
}
h4{
        color: lightslategrey

}
span{
    font-family: cairo;
    padding-left: 25px;
    font-size: 25px;
            color: lightslategrey

}
#btn{
  background-color: #000; 
color: aliceblue;
    border: 0px;
    padding: 20px;
    font-size: 15px;
    transition: 0.4s

}
#btn a{
    color: white;
    font-family: cairo;
    padding: 10px
}
#btn1 a{
    font-family: cairo;
    color: whitesmoke;
    padding-left: 20px

}

#btn:hover{
background-color: lightslategrey;
    color: black;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 0px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto 1% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: slategray;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
      animation: spin2 9s linear infinite ;


}




@media screen and (max-width: 700px) {
    img.avatar {
  width: 20%;

}
    
}
.content-voilet0{
    display: inline;
padding: 0px;
    margin: 0px;
    font-size: 15px
}
.content-voilet0 p{
margin-top: -5px
}
textarea{
    width: 90%;
    height: 60px;
    max-height: 40px;
    min-height: 60px;
    max-width: 90%;
    min-width: 90%;
    direction: rtl;
text-align: center;
    padding: 2px;
    border: 2px solid;
    font-family: cairo;

}
.passcode{
    width: 90%;
    height: 40px;
        direction: rtl;
    margin-bottom: 1%;
    text-align: center;
        font-family:cairo;
        border: 2px solid;

}
.encrypt{
      background-color: #000; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
    margin-top: -10px;
    font-family: cairo;
    margin-bottom: 5px;
    width: 40%;
    border-radius: 25px
    
}
#a{
    width: 40%
}
.contauner{
    
}
@media screen and (max-width: 700px) {
    .w {
  width: 50%;
height: auto;
    position: relative
    }
    
}
