body {
background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Cairo", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container {
 
  justify-content: center;
  align-items: center;
margin-top: -15px;
max-width: 100%}
.content {
  color: white;
    padding: 10px;
    margin: 20px
}
#result {
  display: block;
  text-align: center;
   
    
}
input{
    display:block;
    width: 300px;
    height: 25px
    
}
.s1{
    text-align: center;
    font-size: 15px;
    padding: 0px;
  margin: 0px
}
.logos .voda{
    width: 10%;
    
}
.et{
    width: 6.5%;

}
.or{
    width: 5%;
    border-radius: 50px;
    
}
.logos{
    padding: 20px;
  margin-bottom:20px
}

@media only screen and (max-width: 800px) {


 .voda{
    width: 10%;
    
}
.etisalat{
    width: 7%;

}
.or{
    width: 9%;
    border-radius: 50px;
    
}

    
}

#result{
padding-top: 70px;
font-weight: bold ;

}


@media only screen and (max-width: 600px) {

input{
        width: 300px
    }
}


#vid{
visibility: hidden;
    padding-top: 20px;
    width: 80%
}

a{
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
font-family: cairo;
}
    
    
h5{
    text-align: center;
    color: darkseagreen;
        font-weight: 600;
 
}   
.fa-laptop-code{
    color: ;
    padding-left: 10px;
    padding: 10px;
    font-size: 30px;
    color: goldenrod;
      width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}
    
   #vid1{
position: absolute;
     left: 20%      ;
       top: 30%;
       width: 60%;
       visibility:hidden;
       margin: 0px;
} 
    
    

@media only screen and (max-width: 1800px) {

#vid1{
position: fixed;
    top: 39%;
    
    }
    #result{
padding-top: 20px;
font-weight: bold ;
        font-size: 15px;
        font-weight: 600

}
}
    .footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
        margin-top: 180px
}
    
       #vid2{
position: absolute;
     left: 20%      ;
       top: 39%;
       width: 60%;
       margin: 0px;
           visibility: hidden
} 
#vid3{
    position: absolute;
     left: 20%      ;
       top: 39%;
       width: 60%;
       margin: 0px;
               visibility: hidden

}
    
    @media only screen and (min-width: 800px) {
        
        #vid{
width: 40%     }
}
    #vid4{
    position: absolute;
     left: 20%      ;
       top: 39%;
       width: 60%;
       margin: 0px;
visibility: hidden;
}
 #vid5{
    position: absolute;
     left: 20%      ;
       top: 39%;
       width: 60%;
       margin: 0px;
visibility: hidden;
}
video{

background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976);
}


i{
	
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 1px 1px 0.5px grey;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}